:root {
  --bg-body: rgb(39, 39, 39);

  --text-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  /* max-width: 100vw; */
  /* overflow-x: hidden; */
  font-size: 62.5%;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5); /* color of the scroll thumb */
  border: transparent;
  border-radius: 1rem; /* roundness of the scroll thumb */
}

.Typewriter {
  color: white;
  font-size: 1.9rem;
  letter-spacing: 0.2rem;
}